* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  // font-family: 'Merriweather', serif;
}
.custom-container {
  width: 1200px;
  margin: 0 auto;
}
footer {
  background-color: #2d4e9d;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  #first {
    padding: 40px 0;
    .custom-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      #logo {
        img {
          width: 161.96px;
          height: 150px;
        }
      }
      #location {
        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: #fff;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            color: #fff;
            font-weight: 400;
            font-size: 16px;
            line-height: 25.6px;
            a {
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
      #navbar {
        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: #fff;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            a {
              text-decoration: none;
              color: #fff;
              font-weight: 400;
              font-size: 16px;
              line-height: 25.6px;
              &::after {
                content: " ";
                display: block;
                width: auto;
                height: 1px;
                background-color: #fff;
                opacity: 0;
                transition: 500ms all ease-in;
              }
              &:hover {
                &::after {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
      #useful {
        h5 {
          font-weight: 700;
          font-size: 16px;
          line-height: 28px;
          color: #fff;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            a {
              text-decoration: none;
              color: #fff;
              font-weight: 400;
              font-size: 16px;
              line-height: 25.6px;
              width: min-content;
              &::after {
                content: " ";
                display: block;
                width: auto;
                height: 1px;
                background-color: #fff;
                opacity: 0;
                transition: 500ms all ease-in;
              }
              &:hover {
                &::after {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }
  #second {
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
      width: 100%;
      color: #fff;
    }
    p {
      color: #fff;
      padding: 0;
      font-weight: 400;
      font-size: 14px;
      line-height: 22.4px;
    }
  }
}
